
/* * = wild card, affects all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*generic styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: lato, sans-serif;
}

header{ 
    background-color: white;
    padding: 0 1rem;
    position:fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: Merriweather, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size:110%;
    letter-spacing: 4px;
    list-style: none;
}

#menu > li {
    margin-bottom: 1rem;

}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/*nav in dropdown menu*/
nav {
    position:absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 1rem 0;
    left: 0;
    display: none;
    top:100%;

}

/*nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
}

main {
    background-color: rgb(68, 60, 60);
    /* this makes main take up all available space */
    flex: 1 0 auto;
    margin-top: 47px;

}
footer {
    background-color: rgb(183, 43, 226);
}

/*media queries for tablets 768px or up*/
@media screen and (min-width: 768px) {
    /*header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

   #menu {
    display: flex;
    gap: 1rem;
   }

    .nav-toggle-label {
     display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 75px;
    }


}